{% extends "base.html" %}

{% block title %}Admin Login - Brew & Bean{% endblock %}

{% block content %}

<section class="admin-login">

    <div class="login-box">

        <div class="login-icon">
            ☕
        </div>

        <h1>Admin Login</h1>

        <p>
            Authorized access only.
        </p>

        <form method="POST">

            <label for="username">
                Username
            </label>

            <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter username"
                required
            >


            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
            >


            <button
                type="submit"
                class="btn"
            >

                Login

            </button>

        </form>


        <a
            href="{{ url_for('index') }}"
            class="back-home"
        >

            ← Back to Home

        </a>

    </div>

</section>

{% endblock %}